
.webcam{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  width: 640px;
  height: 480px;
}

.output_canvas{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  width: 640px;
  height: 480px;
}

.ree{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 15;
  width: 640px;
  height: 480px;
}